* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
}

                        /* BEGIN OF DASHBOARD SIDE MENU PROFILE  */

.side-menu {
    position: absolute;
    width: 361px;
    height: 900px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

.user-profile-img {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 54px;
    top: 69px; 
    background: url(dashboard_assets/user_img/Ellipse\ 2.png);
}

.user-profile-id h4 {
    position: absolute;
    width: 73px;
    height: 30px;
    left: 146px;
    top: 74px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.user-profile-id p {
    position: absolute;
    width: 149px;
    height: 20px;
    left: 146px;
    top: 107px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.side-menu-items {
    left: 54px;
    top: 188px;
    position: absolute;
}

.box-content {
    color: #000000;
}

.links {
    width: 241px;
    height: 59px;
    padding: 10px 0 5px 0;
    margin-top: 10px;
    margin-bottom: 10px ;
    border-radius: 15px;
}

.links:hover {
    background-color: #9CE6FF !important;
    transition: ease-in 0.5s;
}


.links a {
    text-decoration: none;
    color: black;
}

.links img {
    left: 20px;
    top: 17px;
    padding-bottom: 5px;
    right: 18px;
    margin-right: 28px;
    cursor: pointer;
}

.nav-link {
    margin-top: -3px;
}

                        /* BEGIN OF STYLE FOR BUTTON MODAL  */

                        .side-menu-items button {
                            background: none;
                            outline: none;
                            border: none;
                        }
                        
                        .side-menu-items button img {
                            margin-left: -100px;
                        }
                        
                        .side-menu-items button:hover {
                            background-color: #9CE6FF !important;
                            transition: ease-in 0.5s;
                        }
                        
                        .nav-item button {
                            border-radius: 15px;
                            margin-top: -5px;
                        }                       
                        
                        
                        /* BEGIN OF STYLE FOR BUTTON MODAL  */

                        .side-menu-items button {
                            background: none;
                            outline: none;
                            border: none;
                        }
                        
                        .side-menu-items button img {
                            margin-left: -100px;
                        }
                        
                        .side-menu-items button:hover {
                            background-color: #9CE6FF !important;
                            transition: ease-in 0.5s;
                        }
                        
                        .nav-item button {
                            border-radius: 15px;
                            margin-top: -5px;
                        }

                         /* BEGIN LOGOUT MODAL  */
                         .modal-content-logout {
                            position: absolute;
                            width: 635px;
                            height: 627px;
                            background: #FFFFFF;
                            border-radius: 20px;
                            margin-left: 100px;
                            margin-top: 50px;
                        }
                        
                        .img-master {
                            margin: 69px 178px 21px 180px;
                        }
                        
                        .title {
                            text-align: center;
                        }
                        
                        .title h3 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 36px;
                            line-height: 45px;
                            color: #000000;
                        }
                        
                        .title p {
                            font-style: normal;
                            font-weight: 300;
                            font-size: 20px;
                            line-height: 35px;
                            color: #000000;
                            margin-top: 11px;
                        }
                        
                        .add-btn-logout {
                            display: inline-flex;
                            text-align: center;
                            margin-left: 44px;
                        }
                        
                        .add-btn-logout button {
                            border-radius: 10px;
                            width: 250px;
                            height: 57px;
                        }
                        
                        .btn-done {
                            background: #9CE6FF !important;
                            margin-right: 12px;
                        }
                        
                        .btn-cancel {
                            background: #FFFFFF;
                            border: 4px solid #DBE5EB;
                        }
                        
                        .add-btn button:hover {
                            border: 5px solid #DBE5EB;
                            box-sizing: border-box;
                            border-radius: 10px;
                        }
                        /* END LOGOUT MODAL  */

                        /* END OF DASHBOARD SIDE MENU PROFILE  */

                        /* BEGIN OF STYLE DASHBOARD HOME CONTENT  */

.dashboard-content {
    position: absolute;
    width: 1079px;
    height: 900px;
    left: 361px;
    top: 0px;
    background: #F6FDFF;
}

.date-update {
    margin: 74px 0 0 70px;
}

.title h1 {
    margin-left: -825px;
    margin-top: 6px;
}

.card-main {
    display: grid;
}

.card-body {
    position: absolute;
    width: 458px;
    height: 216px;
    margin-left: 70px;
    margin-top: 53px;
    background: #FFFFFF;
    border-radius: 20px;
}

.card-body img {
    position: absolute;
    margin: 40px 0 54px 49px;
}

.card-body h1 {
    position: absolute;
    margin: 64px 121px 92px 189px;
}
.card-body p {
    position: absolute;
    margin: 114px 48px 64px 189px;
}

.income {
    position: absolute;
    margin: 56px 69px 461px 552px
}

.income img {
    position: absolute;
    margin: 35px 369px 515px 30px;
}

.income h1 {
    position: absolute;
    margin: 35px 65px 91px 188px;
    font-size: 34px;
}

.income p {
    position: absolute;
}

.type {
    position: absolute;
    width: 458px;
    height: 372px;
    margin: 295px 551px 83px 70px;
    background: #FFFFFF;
    border-radius: 20px;
    font-weight: bolder 700;
}

.type h4 {
    
    font-size: 24px ;
    margin-top: 15px;
    margin-left: 41px;
}

.table {
    text-align: center;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

tbody {
    margin-top: 53px;
    margin-bottom: 53px;
}

.time-remaining {
    position: absolute;
    width: 458px;
    height: 372px;
    margin: 295px 551px 83px 550px;
    background: #FFFFFF;
    border-radius: 20px;
    font-weight: bolder 700;
}

.time-remaining h4 {
    margin-top: 15px;
    margin-left: 38px;
}

.time-cards {
    display: grid;
}

.time-cards p {
    font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 45px;
/* identical to box height */


color: #000000;
}

.date-img img {
    margin-top: 20px;
    margin-left: 48px;
}
.time-img img {
    margin-top: 155px;
    margin-left: 48px;
}

.info-time {
    margin-left: 40px;
}

.info-date {
    margin-top: -60px;
}


.info-times {
    margin-top: 70px;
}

                        /* END OF STYLE FOR DASHBOARD HOME CONTENT  */