* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
}

                        /* BEGIN OF DASHBOARD SIDE MENU PROFILE  */

.side-menu {
    position: absolute;
    width: 361px;
    height: 900px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

.user-profile-img {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 54px;
    top: 69px; 
    background: url(dashboard_assets/user_img/Ellipse\ 2.png);
}

.user-profile-id h4 {
    position: absolute;
    width: 73px;
    height: 30px;
    left: 146px;
    top: 74px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.user-profile-id p {
    position: absolute;
    width: 149px;
    height: 20px;
    left: 146px;
    top: 107px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.side-menu-items {
    left: 54px;
    top: 188px;
    position: absolute;
}

.box-content {
    color: #000000;
}

.links {
    width: 241px;
    height: 59px;
    padding: 10px 0 5px 0;
    margin-top: 10px;
    margin-bottom: 10px ;
    border-radius: 15px;
}

.links:hover {
    background-color: #9CE6FF !important;
    transition: ease-in 0.5s;
}


.links a {
    text-decoration: none;
    color: black;
}

.links img {
    left: 20px;
    top: 17px;
    padding-bottom: 5px;
    right: 18px;
    margin-right: 28px;
    cursor: pointer;
}

.nav-link {
    margin-top: -3px;
}

                    /* END OF DASHBOARD SIDE MENU PROFILE  */

                    /* BEGIN OF STYLE FOR DASHBOARD HISTORY PAYMENT CONTENT  */
.dashboard-content {
    position: absolute;
    width: 1079px;
    height: 900px;
    left: 361px;
    top: 0px;
    background: #F6FDFF;
}

.date-update {
    margin: 74px 0 0 70px;
}

.title {
    margin-left: 70px;
    margin-top: 6px;
}

.btn {
    text-align: center;
    background-color: white;
    border: #FFFFFF;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 31px;
    margin-left: 70px;
}

.dropdown b {
    color: #000000; 
}

.dropdown button {
    text-align: center;
    padding-right: 25px;
    width: 201px;
    height: 50px;
    color: #979797;
    position: absolute;
    border-radius: 10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-menu a {
    text-decoration: none;
    display: block;
}

.dropdown button:hover {
    background-color: #9CE6FF !important;
    border: solid #FFFFFF;
    transition: ease-in 0.5s;
    }

.show {
    display: block;
}

            /* BEGIN OF STYLE FOR SEARCH BOX */
.mb-3 {
    position: absolute;
    width:  280px;
    height: 50px;
    margin-top: -7px;
    margin-left: 730px;
    text-align: center;

}

.input-group input {
    text-align: center;
    border: none;
    border-radius: 10px;
    }

.input-group input:hover {
    background-color: #9CE6FF !important;
    border: solid #FFFFFF;
    transition: ease-in 0.5s;
    color: #FFFFFF;
}


            /* END OF STYLE FOR SEARCH BOX  */

            /* BEGIN OF HISTORY PAYMENT CONTENT TABEL WITH SCROLLING  */

.box-tabel {
    position: relative;
    width: 940px;
    height: 538px;
    left: 70px;
    top: 86px;
    background: #FFFFFF;
    border-radius: 20px;
    overflow-y: scroll ;
}


.table {
    margin-top: 34px;
    margin-left: 0;
    margin-bottom: 54px;
    text-align: center;
}

.table thead {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}


            /* END OF HISTORYPAYMENT CONTENT TABEL WITH SCROLLING  */
                        
                        /* END OF STYLE FOR HISTORY PAYMENT CONTENT  */