* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
}

                        /* BEGIN OF SYLE FOR SIDEBAR MENU  */
nav {
    position: static;
    width: 147px;
    height: 1657px;
    background: #F3F1F9;
    text-align: center;
    align-content: center;
    place-content: center;
}


.arrow {
    width: 72px;
    height: 72px;
    background: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    place-content: center;
    margin: 54px 34px 0 41px;
    cursor: pointer;
}

.arrow img {
    padding-top: 20px;
}

ul  {
    padding: 92px 35px 40px 40px;
}

ul li {
    list-style: none;
    width: 72px;
    height: 72px;
    background: #5B5498;
    border-radius: 20px;
    align-items: center;
    margin-bottom: 45px;
    cursor: pointer;
}

ul li img {
    padding: 20px 18px 21px 18px;
}

ul li:hover:first-child {
    background-image: url(../Assets/icons_side_menu/home_white.png);
    background-repeat: no-repeat;
    background-position: center;
}

ul li:hover:nth-child(2) {
    background-image: url(../Assets/icons_side_menu/make_white.png);
    background-repeat: no-repeat;
    background-position: center;
}

ul li:hover:nth-child(3) {
    background-image: url(../Assets/icons_side_menu/date_white.png);
    background-repeat: no-repeat;
    background-position: center;
}

ul li:hover:nth-child(4) {
    background-image: url(../Assets/icons_side_menu/list_white.png);
    background-repeat: no-repeat;
    background-position: center;
}

ul li:hover:nth-child(5) {
    background-image: url(../Assets/icons_side_menu/pay_white.png);
    background-repeat: no-repeat;
    background-position: center;
}

ul li:hover:nth-child(6) {
    background-image: url(../Assets/icons_side_menu/add_white.png);
    background-repeat: no-repeat;
    background-position: center;
}

ul li img:hover {
    display: none;
}

nav button {
    width: 72px;
    height: 72px;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    outline: none;
}

            /* BEGIN OS STYLE FOR SIDEBAR COLLAPSED MENU  */
.sidebar {
    height: 1657px; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #F3F1F9;; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 1s; /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar a {
    text-decoration: none;
    display: block;
    width: 323px;
    height: 72px;
    transition: 0.3s;
    color: #2F3355;
    margin: 0 295px 45px 40px;
    justify-content: center;
    align-content: center;
}

.sidebar a span {
    display: inline-block;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    align-items: center;
    margin-top: 21px;
}


.sidebar a:hover {
    background: #5B5498;
    border-radius: 20px;
    color: #FFFFFF;
}

.sidebar a:first-child {
    width: 72px;
    height: 72px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: -5px;
    margin-bottom: 92px;
}

.sidebar a:first-child:focus {
    background: #FFFFFF;
}

.sidebar a:focus {
    background: #5B5498;
    border-radius: 20px;
    color: #FFFFFF;
}

.sidebar a img:first-child {
    padding-left: 14px;
    margin-top: 4.5px;
}

.sidebar a img {
    padding-top: 15px;
    padding-left: 18px;
    margin-right: 31px;
    margin-bottom: 25px;
}

.sidebar button {
    width: 323px;
    height: 72px;
    background: #FFFFFF;
    border-radius: 20px;
    transition: 0.3s;
    color: #2F3355;
    border: none;
    outline: none;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    color: #2F3355;
    margin-left: 40px;
}

.sidebar button img {
    float: left;
    padding-left: 18px;
    padding-top: 20px;
    margin-right: 31px;
}

.sidebar button span {
    padding-top: 20px;
}

#main {
    transition: .9s; /* If you want a transition effect */
    padding: 20px;
    margin-left: 0;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
            /* END OS STYLE FOR SIDEBAR COLLAPSED MENU  */

                        /* END OF SYLE FOR SIDEBAR MENU  */

                        /* BEGIN OF STYLE FOR MAIN CONTAINER  */
.main.container {
    position: relative;
    max-width: 2500px;
    height: 1657px;
    background: linear-gradient(90deg, rgba(243, 241, 249, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%);
}

            /* BEGIN OF STYLE FOR HEADER IN MAIN CONTAINER  */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-left {
    display: inline-flex;
    float: left;
    margin: 57px 0 0 87px;
}

.header-left img {
    width: auto;
    cursor: pointer;
}

        /* BEGIN OF STYLE FOR SEARCH BOX */

.input-group {
    padding: 5px 0 0 44px;
}

.mb-3 {
    position: relative;
    max-width: 430px;
    min-width: 250px;
    height: 66px;
    border-radius: 20px;
    text-align: center;
}

.input-group input {
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #F3F1F9;

}

.form-control {
    font-family: "FontAwesome";
}
        /* END OF STYLE FOR SEARCH BOX  */
.header-right {
    padding: 61px 92px 0 0 ;
}

.rounded-img-notif {
    float: right;
    width: 66px;
    height: 66px;
    background: #F3F1F9;
    border-radius: 20px;
    margin-right: 30px;
    cursor: pointer;
}

.rounded-img-notif img {
    padding: 17px 17px 18px 18px;
}

.rounded-img-avatar {
    float: right;
    width: 66px;
    height: 66px;
    background: #F3F1F9;
    border-radius: 50px;
    cursor: pointer;
}

.rounded-img-avatar img {
    border-radius: 50%;
    margin-top: 3.5px;
    margin-left: 3.8px;
}

            /* END OF STYLE FOR HEADER IN MAIN CONTAINER  */

            /* BEGIN OF STYLE FOR FIRST CONTAINER  */
.first-container {
    max-width: 2500px;
    max-height: 1000px;
    background: #FFFFFF;
    border-radius: 20px;
    display: inline-flex;
    margin: 118px 88px 55px 87px;
}

.text-content {
    padding: 82px 96px 91px 78px;
}

.text-content p:first-child {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #2F3355;
    padding-bottom: 10px;
}

.text-content p:last-child {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #2F3355;
}

.first-container img {
    max-width: auto;
    max-height: auto;
}
            /* END OF STYLE FOR FIRST CONTAINER  */

            /* BEGIN OF STYLE FOR SECOND CONTAINER  */
h5 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 36px;
    color: #2F3355;
    margin-left: 87px;
}

.report-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    margin-left: 87px;
    margin-top: 40px;
    padding-bottom: 62px;
    gap: 25px;
}

.income {
    display: inline-flex;
    width: 358.18px;
    height: 168.92px;
    background: #FFFFFF;
    border: 2px solid #F3F1F9;
    box-sizing: border-box;
    border-radius: 20px;
}

.img-display {
    padding: 43px 23px 40px 35px;
}

.text-info {
    padding: 55px 35px 51px 0;
}

.text-info p:first-child {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    color: #2F3355;
    margin-bottom: 0;
}

.text-info p:last-child {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #2F3355;
    padding-top: 0;
    margin-bottom: 0;
}

.mou {
    display: inline-flex;
    width: 358.18px;
    height: 168.92px;
    background: #FFFFFF;
    border: 2px solid #F3F1F9;
    box-sizing: border-box;
    border-radius: 20px;
}
.rate {
    display: inline-flex;
    width: 358.18px;
    height: 168.92px;
    background: #FFFFFF;
    border: 2px solid #F3F1F9;
    box-sizing: border-box;
    border-radius: 20px;
}

@media (max-width: 1200px) {
    .report-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 768px) {
    .report-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}
            /* END OF STYLE FOR SECOND CONTAINER  */


            /* BEGIN OF STYLE FOR LAST CONTAINER  */
.third-container h5 {
    float: left;
}

.show {
    display: block;
}

.btn {
    float: right;
    width: 237.35px;
    height: 63.77px;
    background: #FFFFFF;
    border: 2px solid #F3F1F9;
    border-radius: 10px;
    margin-right: 110px;
}

.dropdown-menu a {
    float: right;
}

.rank-content {
    max-width: 1118px;
    height: 532px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    background: #FFFFFF;
    border: 2px solid #F3F1F9;
    border-radius: 20px;
    margin-top: 96px;
    margin-left: 87px;
    padding: 52px 42px 39px 46px ;
}

.rank {
    width: 326px;
    height: 441px;
    left: 280px;
    top: 1032px;
    background: #F3F1F9;
    border-radius: 20px;
}

.event-title {
    display: flex;
    padding: 40px 31px 0 31px ;
}

.txt-info {
    padding-left: 20px;
}

.txt-info p:first-child {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #2F3355;
}

.txt-info p:last-child {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    color: #2F3355;
}

.rank h6 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #2F3355;
    padding: 40px 0 0 30px;
}

.progress-box {
    width: 264px;
    height: 69.34px;
    background: #5B5498;
    border-radius: 10px;
    display: flex;
    margin-left: 31px;
    align-items: center;
}

.progress-box p:first-child {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 39px 10px 25px 16px;
}

.contestan-info {
    padding-left: 19px;
}

.contestan-info h4 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
}

.progress {
    width: 82px;
    height: 12px;
    background: #F7719C;
    border-radius: 5px;
}

.progress-bar {
    width: 43px;
    background: #F24570;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .rank-content {
        justify-content: center;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .rank {
        margin-left: 50px;
    }
}
@media (max-width: 768px) {
    .rank-content {
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr;
    }
    .rank {
        margin-left: 50px;
    }
}

            /* END OF STYLE FOR LAST CONTAINER  */

                /* END OF STYLE FOR MAIN CONTAINER  */